/*general styles*/

body {
    font-size: 1.3rem;
}

.padded {
    padding: 0.5rem;
    border: 1px solid black;
    margin-top: 1.5rem;
}

form {
    margin-top: -0.5rem;
}

.row {
    margin: 1rem auto;
}

.center {
    text-align: center;
}

input,
button {
    width: 6.75rem;
}

.btn-margin {
    margin-top: 6rem;
    margin-bottom: 8.5rem;
}

.border-bottom {
    border-bottom: 1px solid black;
}
